.container {

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px grey solid;
    gap: 10px;
    background-color: #e9e9e9;
}
.logo{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}