.navList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #123c69;
    color: white;
    padding:  15px 0 15px 0 ;
    /*border: black 10px solid;*/
}
.btn:hover{
    background-color: #134478;
}